@mixin tag($tags, $color) {
  $selector: ();

  @each $tag in $tags {
    $selector: append($selector, unquote("[title~='#{$tag}']"), 'comma');
  }

  #{$selector} {
    background-color: rgba($color, 0.1) !important;
    border-color: rgba($color, 0.2) !important;
    color: rgba($color, 0.4) !important;

    .contentTagText {
      color: rgba($color, 0.9) !important;
    }
  }
}

.contentTag {
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: #f1f1f1 !important;
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
  padding: 0px 2px !important;
}

.contentTagText {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6) !important;
  padding-left: 2px;
}

@include tag('@todo' '@todos' '@task' '@tasks' '@goal' '@goals', #137cbd);
@include tag('@note' '@idea', #0f9960);
@include tag('@call' '@event' '@meeting', #d9822b);
@include tag('#urgent' '@deadline', #db3737);
