.contentTag {
  background-color: #5c7080 !important;
  color: rgba(255, 255, 255, 0.6) !important;
  padding: 1px 3px !important;
}

.contentTagText {
  text-decoration: none !important;
  color: white !important;
  padding-left: 2px;
}

[title~='@todo'],
[title~='@todos'],
[title~='@task'],
[title~='@tasks'],
[title~='@goal'],
[title~='@goals'] {
  background-color: #137cbd !important;
}

[title~='@note'],
[title~='@idea'] {
  background-color: #0f9960 !important;
}

[title~='@call'],
[title~='@event'],
[title~='@meeting'] {
  background-color: #d9822b !important;
}

[title~='#urgent'],
[title~='@deadline'] {
  background-color: #db3737 !important;
}
